# Server port
PORT=3001

# MongoDB Atlas Connection URI
# Replace with your own MongoDB Atlas connection string
MONGO_ATLAS_URI="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority"

# MongoDB database name
MONGO_DB_NAME="gateway_db"
